{% extends "blogs/base.html" %}

{% block page_header %}
<div class="jumbotron text-center py-5 mb-4" style="background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white;">
  <h1 class="display-4">Welcome to Blogs</h1>
  <p class="lead">Share your thoughts and read amazing stories</p>
  <a class="btn btn-light btn-lg btn-scale" href="{% url 'blogs:new_blog' %}">Create Your Blog</a>
</div>
{% endblock page_header %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>Latest Blogs</h2>
    <div class="row">
      {% for blog in blogs %}
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ blog.text }}</h5>
              <p class="card-text">
                <small class="text-muted">by {{ blog.owner.username }}</small><br>
                <small class="text-muted">{{ blog.post_set.count }} posts</small>
              </p>
              <a href="{% url 'blogs:blog' blog.id %}" class="btn btn-primary btn-scale">Read</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="col-md-4">
    <h3>Quick Links</h3>
    <div class="list-group">
      <a href="{% url 'blogs:bloges' %}" class="list-group-item list-group-item-action">All Blogs</a>
      <a href="{% url 'blogs:new_blog' %}" class="list-group-item list-group-item-action">Create Blog</a>
    </div>
  </div>
</div>
{% endblock content %}